<ion-toolbar>
  <ion-title>Edit Post</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div *ngIf="!post && !spots && !currentUser" style="width: 100%; height: 100%;">
    <ion-spinner name="dots" class="centered"></ion-spinner>
  </div>
  <ion-grid *ngIf="post && spots && currentUser">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card style="margin: 15px 60px 15px 60px;">
          <ion-card-header class="ion-text-center">
            <!-- image preview -->
            <img src="{{post.imageurl}}" alt="">
          </ion-card-header>
        </ion-card>
        <!--FORM-->
        <form style="padding: 15px 60px 15px 60px;" #form="ngForm" (ngSubmit)="onSubmit(form)">
          <ion-item>
            <ion-label position="floating" color="medium">Location</ion-label>
            <ion-select type="text"
                        ngModel interface="popover"
                        name="location"
                        required
                        #locationCtrl="ngModel"
                        [(ngModel)]="post.spotid">
              <ion-select-option *ngFor="let spot of spots" [value]="spot.key">{{spot.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="!locationCtrl.valid && locationCtrl.touched">
            <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
            <ion-label color="danger" style="font-size: small">Location should not be empty.</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="medium">Caption:</ion-label>
            <ion-textarea
                    type="text"
                    [ngModel]="post.caption"
                    name="caption"
            ></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="medium">Tags</ion-label>
            <ion-input style="color: #4854e0" type="text"
                       [ngModel]="post.tag"
                       name="tag"
            ></ion-input>
          </ion-item>
          <!--Button Submit-->
          <ion-button style="margin-top: 50px;" type="submit" color="success" expand="block" [disabled]="!form.valid">Edit Post</ion-button>
        </form>
        <div class="ion-text-center ion-padding-top" style="width: 100%;">
          <img class="" src="../../../assets/addpost.svg" alt="icon" style="max-height: 150px; max-width: 150px;"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
