<ion-header>
  <ion-toolbar>
    <ion-title>{{profile?.username}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="edit-profile">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="signOut()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>

  .bottomed{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

</style>

<ion-content>
  <div *ngIf="!profile" style="width: 100%; height: 100%;">
    <ion-spinner name="dots" class="centered"></ion-spinner>
  </div>
  <!--Container Atas-->
  <div *ngIf="profile">
    <!--<div class="upper-container ">
      <ion-grid>
        <ion-row style="margin-top: 20px">
          <ion-col size="12" offset="5">
            <div class="image-container">
              <img src="https://www.flaticon.com/svg/static/icons/svg/2302/2302049.svg" alt=""/>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px" class="ion-margin-horizontal">
          <ion-col size="6" class="ion-no-padding">
            <ion-text class="ion-text-right">{{ profile.name }}</ion-text>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-label class="ion-float-right"> 12</ion-label>
            <ion-icon name="mail" class="ion-float-right"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-horizontal">
          <ion-col size="6" class="ion-no-padding" >
            <ion-text>{{profile.email}}</ion-text>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <ion-label class="ion-float-right"> 50</ion-label>
            <ion-icon name="heart" class="ion-float-right"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-start">
          <ion-col size="6" class="ion-no-padding">
            <ion-text>Indonesia</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>-->


      <!--Header + avatar-->
      <div class="header">
          <div class="avatar">
              <img src="{{profile.imageurl}}" alt=""/>
          </div>
      </div>

      <div class="profile-info ion-text-center">
        <h3 class="name">{{profile.name}}</h3>
        <h3 class="country">{{profile.email}}</h3>
      </div>


    <!--All post + button Add Post-->
    <ion-item>
      <ion-label>All Posts</ion-label>
      <ion-buttons>
        <ion-button routerLink="add-post">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>

    <div *ngIf="!posts" style="width: 100%; height: 100%;">
      <ion-spinner name="dots" class="centered"></ion-spinner>
    </div>
    <!--Tampilan Postingan user-->
    <div *ngIf="posts">
      <ion-item-sliding #slidingItem *ngFor="let post of posts">
        <ion-item-options side="start">
          <ion-item-option color="primary" routerLink="edit-post/{{post.key}}">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item routerLink="post/{{post.key}}">
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col size="4" class="ion-no-padding">
                <ion-img src="{{post.imageurl}}" alt=""></ion-img>
              </ion-col>
              <ion-col size="8" style="padding: 0 16px">
                <div>
                  <ion-text style="padding: 2px;text-align: justify;margin-top: 5px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; line-height: 16px; max-height: 200px; -webkit-box-orient: vertical">{{post.caption}}</ion-text>
                </div>
                <div class="ion-text-right bottomed">
                  <ion-icon name="thumbs-up"></ion-icon> {{countItem(post.like)}}
                  <ion-icon name="thumbs-down"></ion-icon> {{countItem(post.dislike)}}
                  <ion-icon name="chatbox-ellipses"></ion-icon> {{countItem(post.comment)}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" #insert_routerLink_editPost>
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </div>
  </div>
</ion-content>
