<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!post && !profiles" style="width: 100%; height: 100%;">
    <ion-spinner name="dots" class="centered"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <div *ngIf="post && profiles">
          <!--Post Caption-->
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img *ngIf="!findProfile(post.uid).imageurl" src="assets/unDraw/undraw_male_avatar_323b.svg" alt="">
              <img *ngIf="findProfile(post.uid).imageurl" src="{{findProfile(post.uid).imageurl}}" alt="">
            </ion-avatar>
            <ion-text class="ion-margin-vertical">
              <b>{{findProfile(post.uid).username}}</b> {{post.caption}}
            </ion-text>
          </ion-item>
          <!--Comment-->
          <div *ngIf="post.comment">
            <ion-item lines="none" *ngFor="let comment of post.comment | keyvalue">
              <ion-avatar class="ion-margin-start" slot="start">
                <img *ngIf="!findProfile(comment.value.uid).imageurl" src="assets/unDraw/undraw_male_avatar_323b.svg" alt="">
                <img *ngIf="findProfile(comment.value.uid).imageurl" src="{{findProfile(comment.value.uid).imageurl}}" alt="">
              </ion-avatar>
              <ion-col class="ion-margin-bottom">
                <ion-text>
                  <b>{{findProfile(comment.value.uid).username}}</b> {{comment.value.content}}
                </ion-text>
                <br>
                <ion-text color="medium" style="font-size: 0.75em;">
                  {{comment.value.date | timeAgo}}
                </ion-text>
              </ion-col>
              <ion-buttons slot="end" *ngIf="isOwner(comment.value.uid, currentUser.uid)" (click)="deleteComment(comment.key)">
                <ion-button>
                  <ion-icon name="close-circle-sharp" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Input Comment-->
<ion-footer *ngIf="post && profiles">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img *ngIf="!findProfile(currentUser.uid).imageurl" src="assets/unDraw/undraw_male_avatar_323b.svg" alt="">
        <img *ngIf="findProfile(currentUser.uid).imageurl" src="{{findProfile(currentUser.uid).imageurl}}" alt="">
      </ion-avatar>
      <ion-textarea
              type="text"
              placeholder="Comment as {{findProfile(currentUser.uid).username}}..."
              name="comment"
              ngModel
              required
              #commentCtrl="ngModel"
      ></ion-textarea>
      <ion-buttons slot="end">
        <ion-button type="submit" color="transparent" expand="block" [disabled]="!form.valid">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>
</ion-footer>
