<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!post && !profiles" style="width: 100%; height: 100%;">
    <ion-spinner name="dots" class="centered"></ion-spinner>
  </div>
  <div *ngIf="post && profiles">
    <ion-list>
    <ion-grid>

      <!--Post Caption-->
      <ion-row>
        <ion-col size="2">
          <img src="{{findProfile(post.uid).imageurl}}" alt="">
        </ion-col>
        <ion-col size="10">
          <ion-text>
            <p><b>{{findProfile(post.uid).username}}</b> {{post.caption}}</p>
          </ion-text>
        </ion-col>
      </ion-row>

     <!--Comment-->
        <ion-row *ngFor="let comment of post.comment | keyvalue">
          <ion-item class="ion-padding-start">
            <ion-col size="3">
              <img src="{{findProfile(comment.value.uid).imageurl}}" alt="">
            </ion-col>
            <ion-col size="10">
              <ion-text>
                <p><b>{{findProfile(comment.value.uid).username}}</b> {{comment.value.content}}</p>
              </ion-text>
              <ion-text style="font-size: 12px; color: #7d7d7d">
                <p>{{comment.value.date | timeAgo}}</p>
              </ion-text>
            </ion-col>
            <ion-item slot="end" class="ion-margin-start" lines="none">
              <ion-buttons>
                <ion-button slot="end">
                  <ion-icon name="close-circle-sharp" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>

<!--Input Comment-->
<ion-footer *ngIf="post && profiles">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{findProfile(post.uid).imageurl}}" alt=""/>
      </ion-avatar>
      <ion-input
              type="text"
              placeholder="Comment as {{findProfile(post.uid).username}}..."
              name="comment"
              ngModel
              required
              #commentCtrl="ngModel"
      ></ion-input>
      <ion-buttons slot="end">
        <ion-button type="submit" color="transparent" expand="block" [disabled]="!form.valid">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>
</ion-footer>
