<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      <ion-button routerLink="/tabs/profile/edit-profile"><ion-icon name="create" slot="icon-only"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>{{profile?.username}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  .upper-container{
    height: 200px;
    background-image: url("https://akcdn.detik.net.id/community/media/visual/2020/03/20/b86bb4c8-f0b2-4771-83f3-57b723d5ccd4_169.jpeg?w=700&q=90");
    background-size: cover;
      background-position: 50%;
  }
  .image-container-thumbnail{
    width: 120px;
    height: 160px;
    background: url("https://cdn.idntimes.com/content-images/community/2019/12/13734533-223638001370544-1005550621-n-97b29cab9dc34805b1f6ad1679e6822a_600x400.jpg") 50% 50% no-repeat;
  }

</style>

<ion-content>
  <!--Container Atas-->
  <div class="upper-container ">
    <ion-grid>
      <ion-row style="margin-top: 20px">
        <ion-col size="12" offset="5">
          <div class="image-container">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2302/2302049.svg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10px" class="ion-margin-horizontal">
        <ion-col size="6" class="ion-no-padding">
          <ion-text class="ion-text-right">{{ profile?.name }}</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-label class="ion-float-right"> 12</ion-label>
          <ion-icon name="mail" class="ion-float-right"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal">
        <ion-col size="6" class="ion-no-padding" >
          <ion-text>{{profile?.email}}</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-label class="ion-float-right"> 50</ion-label>
          <ion-icon name="heart" class="ion-float-right"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-start">
        <ion-col size="6" class="ion-no-padding">
          <ion-text>Indonesia</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!--All post + button Add Post-->
  <ion-item>
    <ion-label>All Posts</ion-label>
    <ion-buttons>
      <ion-button routerLink="/tabs/add-post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>

  <!--Tampilan Postingan user-->
  <ion-item-sliding #slidingItem>
    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="slidingItem.close()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item class="ion-no-padding ion-no-margin">
      <ion-card class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-no-padding">
              <div class="image-container-thumbnail">

              </div>
            </ion-col>
            <ion-col size="8">
              <ion-text style="padding: 2px;text-align: justify;margin-top: 5px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 8; line-height: 16px; max-height: 200px; -webkit-box-orient: vertical">ini caption: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</ion-text>
              <div class="ion-text-right">
                <ion-icon name="heart"></ion-icon> 121
                <ion-icon name="chatbox-ellipses"></ion-icon> 11
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>

      <ion-item-options>
        <ion-item-option color="primary" #insert_routerLink_editPost>
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

  </ion-item-sliding>


</ion-content>
