#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.filter-blur{
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}
.carousel-text-container{
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 20px 50px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-title{
  font-style: italic;
  margin: 0;
}
.carousel-caption{
  font-size: 12px;
  margin: 0;
  max-lines: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.carousel-caption:active{
  -webkit-line-clamp: 5; /* number of lines to show */
}

.carousel-image{
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.card{
  border-radius: 15px;
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.card-image{
  position:absolute;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.black-transparent{
  mask-image: linear-gradient(rgba(0, 0, 0, 0.95), transparent);
}
